*{
    padding:0;
    margin:0;
    font-size: 20px;
    background-color:#0B1120;
}
.chome{
    /* border: 0px solid black; */
    border-radius: 12px;
    width: 96%;
    height: auto;
    padding: 45px 20px;
    margin: 100px 0px;
    background-color:rgb(15, 15, 209);
    color: white;
    font-size: 25px;
    box-shadow: 5px 5px 4px #0303ff;
    }
          
            /* Navigation Css */
ul{
    background-color: #edbf09;
    list-style-type: none;
    overflow: hidden;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    background-color:#edbf09 ;
    float: left;
    padding: 15px;
    margin: 3px;
}
li a{
    background-color: #edbf09;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    color: rgb(12, 0, 0);
}
input{
    background-color: #0303ff;
    border-radius: 8px;
    padding: 5px;
}
input::placeholder{
    font-size: 20px;
    color: white;
}
.inputContainer{
    display: flex;
    flex-direction: column;
}